/* Event detail styling */

#eventDetail {
  margin-bottom: 10%;
}
#commentRow {
  margin-top: 4rem;
}
#attend {
  width: 6rem;
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 4px; 
  border-radius: 19px; 
  font-family: 'Spectral', serif;
  /* font-family: 'Allerta Stencil', sans-serif; */
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  /* background-image: 
  linear-gradient(to right, #0F142D 0%, #2D3A81 70%, #3F51B5 100%);  */
  box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px; 
  border: 2px solid #2D3A81; 
  display: inline-block;
  }
  #attend:hover {
  background: #1C6EA4; 
  border: 2px solid #1C6EA4;
  }
  #attend:active {
  background: #144E75; }

  /* End EventDetail styling */

  .jumbotron__homepage {
    background-image: url("../img/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
    max-height: 455px;
    background-attachment: local;
    background-position: 50% 50%
  }
#bannerText {
  padding-top: 3%;
}
#desc {
  margin-top: 3%;
}
body {
  background-color: silver;
}
#createEvent {
  background: linear-gradient(104deg, #090c1b, #3f51b5, #6c1bff);
  color: whitesmoke; 
  font-family: 'Allerta Stencil', sans-serif;
}
#text {
  font-family: 'Allerta Stencil', sans-serif;
}