* {
  font-family: 'Mukta Malar', sans-serif;
}

.attendBtn {
  margin-left: 160px;
}

.jumbotron__homepage {
  text-align: center;
  background-color: black;
  color: white;
}

.eventCard {
  float: left;
  margin-left: 40px;
}

.eventHead {
  background: linear-gradient(104deg, #090c1b, #3f51b5, #6c1bff);
  color: whitesmoke;
  font-family: 'Allerta Stencil', sans-serif;
}