* {
  font-family: 'Mukta Malar', sans-serif;
}

.attendBtn {
  margin-left: 160px;
}

.jumbotron__homepage {
  text-align: center;
  background-color: black;
  color: white;
}

.eventCard {
  float: left;
  margin-left: 40px;
}

