#commentboxBtn {
/* float: left; */
width: 9%;
color: rgb(255, 255, 255); 
font-size: 14px; 
line-height: 14px; 
padding: 4px; 
border-radius: 19px; 
font-family: 'Karla', sans-serif;
font-weight: normal; 
text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: none; 
background-image: 
linear-gradient(to right, #0F142D 0%, #2D3A81 70%, #3F51B5 100%); 
box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px; 
border: 2px solid #2D3A81; 
display: inline-block;

}
#comment {
  margin-bottom: 2%;
  display: flex;
}
.mb-3 {
  height: auto;
  width: 350px;
}
.comment-reveal {
  width: 15%;
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 4px; 
  border-radius: 19px; 
  font-family: 'Karla', sans-serif;
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: 
  linear-gradient(to right, #0F142D 0%, #2D3A81 70%, #3F51B5 100%); 
  box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px; 
  border: 2px solid #2D3A81; 
  display: inline-block;
}
#comment-reveal:hover {
background: #1C6EA4; 
border: 2px solid #1C6EA4;
}
#comment-reveal:active {
background: #144E75; }

#submitComment {
  margin-bottom: 4%;
  width: 9%;
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 4px; 
  border-radius: 19px; 
  font-family: 'Karla', sans-serif;
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: 
  linear-gradient(to right, #0F142D 0%, #2D3A81 70%, #3F51B5 100%); 
  box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px; 
  border: 2px solid #2D3A81; 
  display: inline-block;
}

.comment-footer-delete {
  font-size: 10px;
  height: 100%;
}
#joinDisc {
  background: linear-gradient(104deg, #090c1b, #3f51b5, #6c1bff);
  color: whitesmoke; 
}
#delete {
  padding: 0;
}
#textarea {
  padding: 0;
}
#commentBody {
  padding: 5px;
  width: 33rem;
  overflow: auto;
}
#commentCards {
  flex-direction: row;
  height: fit-content;
}
h2 {
  font-family: 'Karla', sans-serif;
}
#eventHead {
  background: linear-gradient(104deg, #090c1b, #3f51b5, #6c1bff);
  color: whitesmoke; 
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}